NEXT_PUBLIC_KITE_RPC_URL=https://rpc-testnet.gokite.ai/
NEXT_PUBLIC_PREDICTION_MARKET_ADDRESS=
NEXT_PUBLIC_GOLDSKY_URL=https://api.goldsky.com/api/public/YOUR_PROJECT/subgraphs/YOUR_SUBGRAPH/graphql
NEXT_PUBLIC_KITE_EXPLORER=https://testnet.kitescan.ai
